body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f4f4f2;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
}

#menus>a {
  margin: 20px;
  color: #243a69;
  font-size: 15px;
  font-size: 9px;
  text-decoration: none;
}

#logo {
  height: 200px;
}

span {
  color: red;
}

#cont {
  display: flex;
  background-color: black;
  height: 100vh;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
  justify-content: space-evenly;
}

#imagens {
  align-items: center;
  margin-top: 200px;
}

#img1 {
  height: 400px;
  width: 300px;
  position: relative;
  right: -160px;
  top: -30px;
  z-index: 998;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
}

#img2 {
  height: 400px;
  width: 300px;
  top: -100px;
  position: relative;
  z-index: 0;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
}

#texto {
  width: 400px;
}

#menus {
  display: flex;
  color: #243a69;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}


select,
button {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0 20px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: left;
  width: 13%;
  height: 30%;
  margin: 10px;
  color: white;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.171);
  cursor: pointer;
}

#movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
  background-color: black;
  margin: 1% auto;
  border-radius: 10px;
  width: 30%;
  height: 90%;
  position: relative;
  text-align: left;
  color: white;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.534);
}

.modal-content>p {
  width: 500px;
}

.modal-content .close {
  display: flex;
  position: relative;
  z-index: 999;
  width: 0px;
  left: 96%;
  font-size: 30px;
  color: red;
  cursor: pointer;
}

#modal-title {
  position: relative;
  z-index: 999;
  top: 70%;
  color: white;
  padding-left: 10px;
}

#modal-poster {
  position: relative;
  top: -100px;
  left: 5px;
  width: 98%;
  height: 80%;
  border-radius: 10px;
}

#modal-overview {
  position: relative;
  top: -10%;
  padding-left: 10px;
  font-weight: bold;
}

#modal-release {
  color: #243a6900;
}

#lanç {
  color: #243a6900;
}

#cine {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 80%;
  height: 100vh;
}

.movie img {
  width: 100%;
  height: 90%;
  border-radius: 4px;
}

.movie-details {
  height: 100%;
  font-size: 10px;
  color: white;
}

.movie-details>h3,
p {
  width: 100%;
}

#bot {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#bot>select,
label,
button {
  width: 300px;
  text-align: center;
  margin: 0%;
  padding-bottom: 10px;
  margin: 10px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #f4f4f2;
  color: #243a69;
  font-weight: bold;
  font-size: 20px;
}

#test {
  background-color: red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

#apresentacao {
  width: 600px;
}

#img-instrucoes {
  height: 100%;
  width: 100%;
}

#imagens-apresent {
  height: 200px;
  width: 200px;
  background-color: black;
}

.rodape {
  color: red;
  background-color: white;
  display: flex;
  font-size: 7px;
  justify-content: space-around;
  text-align: center;
}

.rodape>h1 {
  margin-bottom: -10px;
  color: red;
}